/* Target the main Quill container */
.quill {
}

.article-title {
  border-radius: 8px 8px 0 0;
}

/* Target the Quill toolbar */
.quill .ql-toolbar {
  width: 100%;
  background-color: #e3e3e3;
  border-style: none;
}

/* Target the Quill editor container */
.quill .ql-container {
  border-radius: 0 0 8px 8px; /* Adjust the value to your desired border radius */
  border-color: #e3e3e3;
  font-size: 16px;
  font-family: Helvetica;
}

.quill .ql-editor h1 {
  font-weight: 700;
  font-size: 72px;
}

.quill .ql-editor h2 {
  font-weight: 700;
  font-size: 30px;
}
