@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}
.bg {
  position: absolute;
  animation: belt 30s linear infinite;
  width: 100%;
  height: 100%;
  background-size: 2100px;
  background-image: url(./assets/earth_background.jpg);
  z-index: -10;
}
@media (max-width: 1023px) {
  .hidden-on-sm {
    display: none !important;
  }
}

@keyframes belt {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
